<% layout('admin/shared/_layout') -%>
    <div class="container">
        <div id="alert" class="alert alert-warning alert-dismissible fade in" role="alert" style='display:none'>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <span id="alertcontent"></span>
        </div>
        <form class="form-signin" method="POST" id="loginform">
            <h2 class="form-signin-heading">Please sign in</h2>
            <label for="username" class="sr-only">Username</label>
            <input type="text" name="username" class="form-control" placeholder="Username" required autofocus>
            <label for="password" class="sr-only">Password</label>
            <input type="password" name="password" class="form-control" placeholder="Password" required>
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="rememberme" value="true"> Remember me
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" data-loading-text="Loading..."  type="submit" id="loginbtn">Sign in</button>
        </form>

    </div>
    <!-- /container -->
    <script>
        $(function(){
            
            $("#loginbtn").on('click',function(){
                var $that=$(this);
                $that.button('loading');
                var data = $("#loginform").serialize();
                $.post('/admin/login',data,function(ret){
                   if(ret.success){
                       if(ret.returnUrl){
                           location.href = ret.returnUrl;
                       }else{
                           location.href = '/admin';
                       }
                   } else {
                       $('#alertcontent').text(ret.msg);
                       $('#alert').show();
                   }
                   $that.button('reset');
                });
                return false;
            })
        })
    </script>