<header id="masthead" class="site-header no-site-header-img" role="banner">
    <div class="site-header-cover-image"></div>

    <div class="site-header-info color-border-top">

        <div class="site-branding no-profile-pic">
            <h1 class="site-title"><a href="http://www.xdlysk.com/" rel="home">xdlysk的博客</a></h1>
            <h2 class="site-description">技术交流，生活记录</h2>
        </div>


        <nav id="site-navigation" class="main-navigation" role="navigation">
            <button class="menu-toggle">Menu</button>
            <div class="menu-%e8%8f%9c%e5%8d%951-container">
                <ul id="menu-%e8%8f%9c%e5%8d%951" class="menu nav-menu">
                    <li id="menu-item-57" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-57"><a href="http://www.xdlysk.com/">首页</a></li>
                    <li id="menu-item-62" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-62"><a href="http://www.xdlysk.com/category/dotnet">.NET</a></li>
                    <li id="menu-item-115" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-115"><a href="http://www.xdlysk.com/category/javascript">javascript</a></li>
                </ul>
            </div>
        </nav>
        <!-- #site-navigation -->

        <div class="clearboth"></div>
    </div>

</header>