<header id="masthead" class="site-header no-site-header-img" role="banner">
    <div class="site-header-cover-image"></div>

    <div class="site-header-info color-border-top">

        <div class="site-branding no-profile-pic">
            <h1 class="site-title"><a href="<%= siteUrl %>" rel="home"><%= siteName %></a></h1>
            <h2 class="site-description"><%= siteDes %></h2>
        </div>


        <nav id="site-navigation" class="main-navigation" role="navigation">
            <button class="menu-toggle">Menu</button>
            <div>
                <ul class="menu nav-menu">
                    <li class="menu-item"><a href="<%= siteUrl %>/">首页</a></li>
                    <li class="menu-item"><a href="<%= siteUrl %>/category/dotnet">.NET</a></li>
                    <li class="menu-item"><a href="<%= siteUrl %>/category/javascript">javascript</a></li>
                </ul>
            </div>
        </nav>
        <!-- #site-navigation -->

        <div class="clearboth"></div>
    </div>

</header>