<!DOCTYPE html>
<html>
  <head>
    <% include shared/head.html %>
  </head>
  <body class="home blog">
    
    <div class="site-container">
        <!-- header start -->
        <% include shared/header.html %>
        <!-- header end -->
        
        <!-- content start -->
        <div id="content" class="site-content">	
            <div id="primary" class="content-area">
		        <main id="main" class="site-main" role="main">
                </main>
            </div>
            <div id="secondary" class="widget-area" role="complementary">
            </div>
        </div>
        <!-- content end -->
        
        <!-- footer start -->
        <% include shared/footer.html %>
        <!-- footer end -->
    </div>
  </body>
</html>
